@model DACHUYENNGANH.Models.BienLaiThuLai

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <ol class="breadcrumb mb-4">
                <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="BienLaiThuLais" asp-action="Index">Biên Lai Thu Lãi</a></li>
                <li class="breadcrumb-item active">  Thông Tin Biên Lai Thu Lãi</li>
            </ol>
            <h1 class="mt-4" style="color: #1F618D;font-weight: bold;">  Thông Tin Biên Lai Thu Lãi</h1>
            <div class="card mb-4" style="margin: auto; width: 80%; border: 3px solid black; padding: 10px;line-height: 2.5;">
                <div class="card-body">
                    <div class="table-responsive" style="margin: auto; width: 60%; line-height: 2.5;">
                        <table style="color: #1F618D;font-weight: bold; font-size: 15px;">
                            <tbody>
                                <tr>
                                    <td>Nhân Viên: </td>
                                    <td style="padding:7px;">@Model.IdNhanVienNavigation.TenNhanVien</td>
                                </tr>
                                <tr>
                                    <td>Mã Hồ Sơ Vay: </td>
                                    <td style="padding:7px;">@Model.IdHsvay</td>
                                </tr>
                                <tr>
                                    <td>Tiền Gốc: </td>
                                    <td style="padding:7px;">@Model.TienGoc</td>
                                </tr>
                                <tr>
                                    <td>Số Tiền Đóng: </td>
                                    <td style="padding: 7px;">@Model.SoTienDong</td>
                                </tr>
                                <tr>
                                    <td>Dư Nợ: </td>
                                    <td style="padding:7px;">@Model.DuNo</td>
                                </tr>
                                <tr>
                                    <td>Lãi Suất: </td>
                                    <td style="padding:7px;">@Model.LaiSuat</td>
                                </tr>
                                <tr>
                                    <td>Lãi Ký Kê: </td>
                                    <td style="padding:7px;">@Model.LaiKyKe</td>
                                </tr>
                                <tr>
                                    <td>Góc Ký Kê: </td>
                                    <td style="padding:7px;">@Model.GocKyKe</td>
                                </tr>
                                <tr>
                                    <td>Ngày Nhận Lãi: </td>
                                    <td style="padding:7px;">@Html.DisplayFor(model => model.NgayNhanLai)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="color: #1F618D;font-weight: bold; font-size: 15px;">
                    <a class="btn btn-outline-primary" asp-area="Admin" asp-action="Edit" asp-route-id="@Model.IdBienLai">Edit</a> |
                    <a class="btn btn-primary" asp-area="Admin" asp-action="Index">Trở Về</a>
                </div>
            </div>
            

           
        </div>
    </main>
</div>

