@model DACHUYENNGANH.Models.HoSoPhapLy

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <ol class="breadcrumb mb-4">
                <a asp-controller="Home" asp-action="IndexUser" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-controller="HoSoPhapLies" asp-action="Index">Hồ Sơ Pháp Lý</a></li>
                <li class="breadcrumb-item active">Thông Tin Hồ Sơ Pháp Lý</li>
            </ol>
            <h1 class="mt-4" style="color: #1F618D;font-weight: bold;">Thông Tin Hồ Sơ Pháp Lý</h1>
            <div class="card mb-4" style="margin: auto; width: 80%; border: 3px solid black; padding: 10px;line-height: 2.5;">
                <div class="card-body">
                    <div class="table-responsive" style="margin: auto; width: 60%; line-height: 2.5;">
                        <tablestyle="color: #1F618D;font-weight: bold; font-size: 15px;">
                            <tbody>
                                <tr>
                                    <td>Mã Hồ Sơ Pháp Lý: </td>
                                    <td style="padding:7px;">@Model.IdPhapLy</td>
                                </tr>
                                <tr>
                                    <td>Mã Hồ Sơ Vay: </td>
                                    <td style="padding:7px;">@Model.IdHsvay</td>
                                </tr>
                                <tr>
                                    <td>Giấy Chứng Nhận Đăng Ký Kinh Doanh: </td>
                                    <td style="padding: 7px;">@Model.Gdkkd</td>
                                </tr>
                                <tr>
                                    <td>Điều Lệ Công Ty: </td>
                                    <td style="padding:7px;">@Model.DieuLeCty</td>
                                </tr>
                                <tr>
                                    <td>Biên Bản Họp Hội Đồng: </td>
                                    <td style="padding:7px;">@Model.BbhopHd</td>
                                </tr>
                                <tr>
                                    <td>Kế Toán Trưởng: </td>
                                    <td style="padding:7px;">@Model.TenKttruong</td>
                                </tr>
                                <tr>
                                    <td>CMND/CCCD Kế Toán Trưởng: </td>
                                    <td style="padding:7px;" @Model.CmndCccdKtt</td>
                                </tr>
                                <tr>
                                    <td>Ngày Nhận Hồ Sơ: </td>
                                    <td style="padding:7px;">@Html.DisplayFor(model => model.NgayNhanHs)</td>
                                </tr>
                                <tr>
                                    <td>Giấy Chứng Nhận Đăng Ký Thuế: </td>
                                    <td style="padding: 7px;">@Model.Gcndkthue</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="color: #1F618D;font-weight: bold; font-size: 15px;">
                <a  asp-action="Index">Trở Về</a>
            </div>
        </div>
    </main>
</div>
