@model IEnumerable<DACHUYENNGANH.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Danh Sách Nhân Viên</h1>
            <ol class="breadcrumb mb-4">
                <a asp-controller="Home" asp-action="IndexUser" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-controller="AdminNhanVien" asp-action="Index">Nhân Viên</a></li>
                <li class="breadcrumb-item active">Danh Sách Nhân Viên</li>
            </ol>
            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Danh sách
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="dataTable_length">
                                    <label>
                                        Search:
                                        <form method="get" asp-action="Index">
                                            <div class="input-group rounded">
                                                <input type="search" class="form-control rounded" aria-label="Search" aria-describedby="search-addon" placeholder="Search for..." @*value="@ViewData["Getnhanviendetails"]"*@ name="search" />
                                            </div>
                                        </form>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <label>
                                        <br />
                                        <form method="get" asp-action="Index">
                                            <div class="input-group-append">
                                                <select asp-items="@(new SelectList(ViewBag.ChucVu, "IdChucVu", "TenChucVu"))" name="id" class="custom-select custom-select-sm form-control form-control-sm">
                                                    <option>Chọn Chức Vụ</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="submit">
                                                        <i class="fas fa-search fa-sm"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </label>
                                </div>
                                <a asp-action="Index" class="btn btn-default m-r-5">Show All</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Tên Nhân Viên</th>
                                            @*<th scope="col">Mã Nhân Viên</th>*@
                                            <th scope="col">Ngày Sinh</th>
                                            <th scope="col">Giới Tính</th>
                                            <th scope="col">CMND/CCCD</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">SĐT</th>
                                            @*<th scope="col">Chức Vụ</th>*@
                                            @*<th scope="col">Tên Đăng Nhập</th>
                                            <th scope="col">Mật Khẩu</th>*@
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    @*<tfoot>
                                    <tr>
                                    <th scope="col">Tên Nhân Viên</th>
                                    <th scope="col">Mã Nhân Viên</th>
                                    <th scope="col">Ngày Sinh</th>
                                    <th scope="col">Giới Tính</th>
                                    <th scope="col">CMND/CCCD</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">SĐT</th>
                                    <th scope="col">Chức Vụ</th>
                                    <th scope="col">Tên Đăng Nhập</th>
                                    <th scope="col">Mật Khẩu</th>
                                    </tr>
                                    </tfoot>*@
                                    @if (Model != null)
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tbody>
                                                <tr>
                                                    <td>@item.TenNhanVien</td>
                                                    @*<td>@item.IdNhanVien</td>*@
                                                    <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                                                    <td>@item.GioiTinh</td>
                                                    <td>@item.CmndCccd</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.Sdt</td>
                                                    @* <td>@item.IdChucVuNavigation.TenChucVu</td>*@
                                                    @*<td>@item.TenDangNhap</td>
                                            <td>@item.MatKhau</td>*@
                                                    <td>
                                                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.IdNhanVien"><i class="fa-solid fa-pen-to-square"></i></a>
                                                        <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.IdNhanVien"><i class="fa-solid fa-circle-info"></i></a>
                                                        <a class="btn btn-outline-success" asp-action="Delete" asp-route-id="@item.IdNhanVien"><i class="fa-solid fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        }
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmndCccd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChucVuNavigation)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CmndCccd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdChucVuNavigation.TenChucVu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNhanVien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNhanVien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNhanVien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@