@model DACHUYENNGANH.Models.HoSoThamDinh

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <h1 class="mt-4">Xóa Hồ Sơ Thẩm Định</h1>
            <ol class="breadcrumb mb-4">
                <a asp-controller="Home" asp-action="IndexUser" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-controller="HoSoThamDinhs" asp-action="Index">Hồ Sơ Thẩm Định</a></li>
                <li class="breadcrumb-item active">Xóa Hồ Sơ Thẩm Định</li>
            </ol>
            <div class="card mb-4" class="card shadow" style="margin: auto; width: 80%: 10px;line-height: 2.5;">
                <div class="card-body">
                    <div class="table-responsive" style="margin: auto; width: 60%; line-height: 2.5;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Mã Hồ Sơ Thẩm Định: </td>
                                    <td style="padding:7px;">@Model.IdHsthamDinh</td>
                                </tr>
                                <tr>
                                    <td>Tên Công Ty: </td>
                                    <td style="padding: 7px;">@Model.IdCongTyNavigation.TenCty</td>
                                </tr>
                                <tr>
                                    <td>Hồ Sơ Đảm Bảo: </td>
                                    <td style="padding:7px;">@Model.IdHsdb</td>
                                </tr>
                                <tr>
                                    <td>Số Tiền Thẩm Định: </td>
                                    <td style="padding:7px;">@Model.SoTienThamDinh</td>
                                </tr>
                                <tr>
                                    <td>Người Thẩm Định: </td>
                                    <td style="padding: 7px;">@Model.TenNguoiThamDinh</td>
                                </tr>
                                <tr>
                                    <td>CMND/CCCD: </td>
                                    <td style="padding: 7px;">@Model.CmndCccd</td>
                                </tr>
                                <tr>
                                    <td>Ngày Thẩm Định: </td>
                                    <td style="padding:7px;">@Html.DisplayFor(model => model.NgayThamDinh)</td>
                                </tr>
                                <tr>
                                    <td>Ngày Nhận Hồ Sơ: </td>
                                    <td style="padding:7px;">@Html.DisplayFor(model => model.NgayNhanHoSo)</td>
                                </tr>
                                <tr>
                                    <td>Báo Cáo Thẩm Định: </td>
                                    <td style="padding: 7px;">@Model.BaoCaoThamDinh</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @*<form asp-action="Delete" style="text-align: center;">
            <input type="hidden" asp-for="IdHsvay" />
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <a asp-area="Admin" asp-action="Index">Trở Về</a>
            </form>*@

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                Xóa
            </button>|
            <a class="btn btn-primary"  asp-action="Index">Trở Về</a>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Thông Báo Xóa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Bạn có chắc muốn xóa @Model.IdHsthamDinh
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <form asp-action="Delete" style="text-align: center;">
                                <input type="hidden" asp-for="IdHsthamDinh" />
                                <input type="submit" value="Xóa" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


