@model DACHUYENNGANH.Models.TheTinDung

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <ol class="breadcrumb mb-4">
                <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="TheTinDungs" asp-action="Index">Thẻ Tín Dụng</a></li>
                <li class="breadcrumb-item active">Thông Tin Thẻ Tín Dụng</li>
            </ol>
            <h1 class="mt-4" style="color: #1F618D;font-weight: bold;">Thông Tin Thẻ Tín Dụng</h1>
            <div class="card mb-4" style="margin: auto; width: 80%; border: 3px solid black; padding: 10px;line-height: 2.5;">
                <div class="card-body">
                    <div class="table-responsive" style="margin: auto; width: 60%; line-height: 2.5;">
                        <table style="color: #1F618D;font-weight: bold; font-size: 15px;">
                            <tbody>
                                <tr>
                                    <td>Sổ Thẻ Tín Dụng: </td>
                                    <td style="padding:7px;">@Model.SoTrenThe</td>
                                </tr>
                                <tr>
                                    <td>Số Tài Khoản: </td>
                                    <td style="padding: 7px;">@Model.Stk</td>
                                </tr>
                                <tr>
                                    <td>Tên Tài Khoản: </td>
                                    <td style="padding:7px;">@Model.TenTk</td>
                                </tr>
                                <tr>
                                    <td>Ngày Mở Thẻ: </td>
                                    <td style="padding:7px;">@Html.DisplayFor(model => model.NgayMoThe)</td>
                                </tr>
                                <tr>
                                    <td>Ngày Nhận Thẻ: </td>
                                    <td style="padding: 7px;">@Html.DisplayFor(model => model.NgayNhanThe)</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="color: #1F618D;font-weight: bold; font-size: 15px;">
                <a asp-action="Edit" asp-route-id="@Model.Stk">Edit</a> |
                <a asp-area="Admin" asp-action="Index">Trở Về</a>
            </div>
        </div>
    </main>
</div>

