@model DACHUYENNGANH.Models.KhachHangCaNhan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <h1 class="mt-4"> Xóa Thông Tin Khách Hàng Cá Nhân</h1>
            <ol class="breadcrumb mb-4">
                <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="KhachHangCaNhans" asp-action="Index">Khách Hàng Cá Nhân</a></li>
                <li class="breadcrumb-item active"> Xóa Thông Tin Khách Hàng Cá Nhân</li>
            </ol>
            <div class="card mb-4" style="margin: auto; width: 80%; border: 3px solid black; padding: 10px;line-height: 2.5;">
                <div class="card-body">
                    <div class="table-responsive" style="margin: auto; width: 60%; line-height: 2.5;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Mã Khách Hàng: </td>
                                    <td style="padding:7px;">@Model.IdKhachHangCaNhan</td>
                                </tr>
                                <tr>
                                    <td>Mã Số Thuế: </td>
                                    <td style="padding:7px;">@Model.IdKhachHangNavigation.MaSoThue</td>
                                </tr>
                                <tr>
                                    <td>Tên Khách Hàng: </td>
                                    <td style="padding:7px;">@Model.TenKh</td>
                                </tr>
                                <tr>
                                    <td>Ngày Sinh: </td>
                                    <td style="padding:7px;">@Html.DisplayFor(model => model.NgaySinh)</td>
                                </tr>
                                <tr>
                                    <td>Giới Tính: </td>
                                    <td style="padding: 7px;">@Model.GioiTinh</td>
                                </tr>
                                <tr>
                                    <td>SĐT: </td>
                                    <td style="padding:7px;">@Model.Sdt</td>
                                </tr>
                                <tr>
                                    <td>CMND/CCCD: </td>
                                    <td style="padding:7px;">@Model.CmndCccd</td>
                                </tr>
                                <tr>
                                    <td>Địa Chỉ: </td>
                                    <td style="padding:7px;">@Model.DiaChi</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @*<form asp-action="Delete" style="text-align: center;">
                <input type="hidden" asp-for="IdKhachHangCaNhan" />
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                <a asp-area="Admin" asp-action="Index">Trở Về</a>
            </form>*@

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                Xóa
            </button>|
            <a class="btn btn-primary" asp-area="Admin" asp-action="Index">Trở Về</a>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Thông Báo Xóa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Bạn có chắc muốn xóa @Model.TenKh
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <form asp-action="Delete" style="text-align: center;">
                                <input type="hidden" asp-for="IdKhachHangCaNhan" />
                                <input type="submit" value="Xóa" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
