@model DACHUYENNGANH.Models.HoSoTaiSanDb

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <ol class="breadcrumb mb-4">
                <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="HoSoTaiSanDbs" asp-action="Index">Hồ Sơ Tài Sản Đảm Bảo</a></li>
                <li class="breadcrumb-item active">Thông Tin Hồ Sơ Tài Sản Đảm Bảo</li>
            </ol>
            <h1 class="mt-4" style="color: #1F618D;font-weight: bold;">Thông Tin Hồ Sơ Tài Sản Đảm Bảo</h1>
            <div class="card mb-4" style="margin: auto; width: 80%; border: 3px solid black; padding: 10px;line-height: 2.5;">
                <div class="card-body">
                    <div class="table-responsive" style="margin: auto; width: 60%; line-height: 2.5;">
                        <table style="color: #1F618D;font-weight: bold; font-size: 15px;">
                            <tbody>
                                <tr>
                                    <td>Mã Hồ Sơ Tài Sản Đảm Bảo: </td>
                                    <td style="padding:7px;">@Model.IdHsdb</td>
                                </tr>
                                <tr>
                                    <td>Mã Hồ Sơ Vay: </td>
                                    <td style="padding:7px;">@Model.IdHsvay</td>
                                </tr>
                                <tr>
                                    <td>Loại Hồ Sơ Tài Sản Đảm Bảo: </td>
                                    <td style="padding:7px;">@Model.IdLoaiHs</td>
                                </tr>
                                <tr>
                                    <td>Sổ Nhà Đất: </td>
                                    <td style="padding: 7px;">@Model.SoNhaDat</td>
                                </tr>
                                <tr>
                                    <td>Đơn Chứng Nhận Sở Hữu Đất: </td>
                                    <td style="padding:7px;">@Model.DcnsoHuuDat</td>
                                </tr>
                                <tr>
                                    <td>Hóa Đơn Tài Sản: </td>
                                    <td style="padding:7px;">@Model.HdtaiSan</td>
                                </tr>
                                <tr>
                                    <td>Thông Báo Nộp Phí Nhà Đất: </td>
                                    <td style="padding:7px;">@Model.TbnopPhiNd</td>
                                </tr>
                                <tr>
                                    <td>Sổ Đăng Kiểm: </td>
                                    <td style="padding:7px;">@Model.SoDangKiem</td>
                                </tr>
                                <tr>
                                    <td>Chứng Nhận Bảo Hiểm: </td>
                                    <td style="padding:7px;">@Model.ChungNhanBaoHiem</td>
                                </tr>
                                <tr>
                                    <td>Ngày Nhận Hồ Sơ: </td>
                                    <td style="padding:7px;">@Html.DisplayFor(model => model.NgayNhanHs)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="color: #1F618D;font-weight: bold; font-size: 15px;">
                <a asp-area="Admin" asp-action="Index">Trở Về</a>
            </div>
        </div>
    </main>
</div>


