@model IEnumerable<DACHUYENNGANH.Models.HoSoTaiSanDb>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Danh Sách Hồ Sơ Tài Sản DB</h1>
            <ol class="breadcrumb mb-4">
                <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="HoSoTaiSanDbs" asp-action="Index">Hồ Sơ Tài Sản DB</a></li>
                <li class="breadcrumb-item active">Danh Sách Hồ Sơ Tài Sản DB</li>
            </ol>
            <button type="button" class="btn btn-outline-secondary">
                <a asp-action="Create">Create New</a>
            </button>
            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Danh sách
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatablesSimple" class="table">
                            <thead>
                                <tr>
                                    @*<th scope="col">Mã Hồ Sơ Tài Sản DB</th>*@
                                    <th scope="col">Hồ Sơ Vay</th>
                                    <th scope="col">Loại Hồ Sơ Tài Sản Đảm Bảo</th>
                                    <th scope="col">Số Nhà Đất</th>
                                    <th scope="col">Đơn Chứng Nhận Sở Hữu Đất</th>
                                    <th scope="col">Hóa Đơn Tài Sản</th>
                                    <th scope="col">Thông Báo Nộp Phí Nhà Đất</th>
                                    <th scope="col">Sổ Đăng Kiểm</th>
                                    <th scope="col">Chứng Nhận Bảo Hiểm</th>
                                    <th scope="col">Ngày Nhận Hồ Sơ</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    <tbody>
                                        <tr>
                                            @*<td>@item.IdHsdb</td>*@
                                            <td>@item.IdHsvay</td>
                                            <td>@item.IdLoaiHsNavigation.TenLoai</td>
                                            <td>@item.SoNhaDat</td>
                                            <td>@item.DcnsoHuuDat</td>
                                            <td>@item.HdtaiSan</td>
                                            <td>@item.TbnopPhiNd</td>
                                            <td>@item.SoDangKiem</td>
                                            <td>@item.ChungNhanBaoHiem</td>
                                            <td>@Html.DisplayFor(modelItem => item.NgayNhanHs)</td>
                                            <td>
                                                <a class="btn btn-outline-primary" asp-area="Admin" asp-action="Edit" asp-route-id="@item.IdHsdb">Edit</a>
                                                <a class="btn btn-outline-secondary" asp-area="Admin" asp-action="Details" asp-route-id="@item.IdHsdb">Details</a>
                                                <a class="btn btn-outline-success" asp-area="Admin" asp-action="Delete" asp-route-id="@item.IdHsdb">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>

                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>


